.heading{
    text-align: center;
    background-color: rgb(186, 186, 14);
    border: 1px solid white;
}
.tabl
{
    border:1px solid whitesmoke;
}
.main
{
    border:1px solid whitesmoke;
    text-align: center
}
.s-c{

    border:1px solid whitesmoke;
    text-align: center;
}
.t-c
{
    border:1px solid whitesmoke;
    text-align: center
}


  
  .photos {
    margin-left: 20px; 
    margin-top: 20px; 
  }
  
  @media (max-width: 768px) {
    .photos {
      margin-left: 0; 
      margin-top: 20px;
    }
  }
  